{% extends 'base.html' %}
{% load static %} 
{% block content %}
<button class="logout_button"><a href="/user/logout">Log out</a></button>
<div class="container">
{% for task in tasks %}
<div class="task">
    <div class="task_title">{{ task.title }}</div> 
    <div class="task_desc">{{ task.description }}</div>  
    <div class="task_done">
        {% if task.done %}
        <img src={% static 'check.png' %} width=27 height=27>
        {% else %}
        <img src={% static 'uncheck.png' %} width=27 height=27>
        {% endif %}
    <button class="task_edit" onclick="location.href='{{ task.get_absolute_url }}'">Edit</button>
    <button  class="task_delete" onclick="location.href='{{ task.get_absolute_url }}/delete'">Delete</button>
    </div>
</div>
{% endfor %}
<button class="task_create" onclick="location.href='/create/'">Create new task</button>
</div>
{% endblock content %}