{% extends 'base.html' %}
{% load static %} 
{% block content %}
<button class="logout_button"><a href="/user/logout">Log out</a></button>
<div class="container">
{% for task in tasks %}
<div class="task">
    <div class="task_title">{{ task.title }}</div> 
    <div class="task_desc">{{ task.description }}</div>  
    <div class="task_done">
        {% if task.done %}
        <img src={% static 'check.png' %} width=27 height=27>
        {% else %}
        <img src={% static 'uncheck.png' %} width=27 height=27>
        {% endif %}
    <button class="task_edit"><a href="{{ task.get_absolute_url }}">Edit</a></button>
    <button  class="task_delete"><a href="{{ task.get_absolute_url }}/delete">Delete</a></button>
    </div>
</div>
{% endfor %}
<button class="task_create"><a href="/create/">Create new task</a></button>
</div>
{% endblock content %}